<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="b3d0f63d-578f-43ea-93f5-197ebaf6d775"
            Publisher="CN=Carbini"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>NewTest</DisplayName>
    <PublisherDisplayName>Carbini</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="NewTest.App">
        <VisualElements
            DisplayName="NewTest"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="NewTest"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>